/* general styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

body {
  /* position: relative; */
  font-family: "Quintessential", Arial, Helvetica, sans-serif;
  transition: all 0.05s ease;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* colors in decreasing intensity */
:root {
  --soft-blush: #ffe5ecff;
  --pastel-pink: #ffc2d1ff;
  --cherry-blossom: #ffb3c6ff;
  --cotton-candy: #ff8fabff;
  --petal-rouge: #fb6f92ff;
}

/* site loader */

h1.percentageDisplay {
  font-size: 8.5rem;
  font-weight: bold;
  color: var(--cotton-candy);
  letter-spacing: 0.4rem;
  margin-top: 18.5rem;
  margin-left: 4rem;
}

div.progressBar {
  margin: 0 auto;
  margin-bottom: 1.5rem;
  width: 90%;
  height: 10%;
  border-radius: 5rem;
  position: relative;
  overflow: hidden;
  background-color: var(--soft-blush);
  box-shadow: 4.5px 6px 5px grey;
}

div.progressBar > div.progressState {
  content: "";
  width: 0.5%;
  height: 10%;
  background-color: var(--petal-rouge);
  animation: load 7s linear 1s forwards;
}

@keyframes load {
  3% {
    width: 3%;
  }
  23% {
    width: 23%;
  }
  27% {
    width: 25%;
  }
  48% {
    width: 48%;
  }
  52% {
    width: 50%;
  }
  73% {
    width: 73%;
  }
  77% {
    width: 75%;
  }
  98% {
    width: 98%;
  }
  100% {
    width: 100%;
  }
}

section.loadSite > p.loadingText {
  font-size: 1.15rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  margin-left: 4rem;
  color: var(--cotton-candy);
}

/* main site */

/* hero section */

a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  /* font-weight: bold; */
}

.mainSite {
  display: none;
}

.mainSite.activeMainSite {
  display: block;
}

section.heroSection {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("image/heroSection.jpg") no-repeat center center/cover;
}

header > nav {
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
}

nav > p {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  color: white;
}

nav > div.nav-content {
  display: flex;
  gap: 3.5rem;
}

div.nav-bar {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
}

div.nav-bar > div {
  width: 2.5rem;
  height: 0.25rem;
  background-color: black;
}

/* div.nav-bar.activeNavBar {
  display: flex;
}

div.nav-content.activeNavContent {
  display: none;
}

div.nav-content.activeNavContent > a {
  display: none;
}

div.nav-content.activeNavContent > a:nth-child(1) {
  display: block;
  margin-bottom: 0.5rem;
}

div.nav-content.activeNavContent > a:nth-child(2) {
  display: block;
  margin-bottom: 0.5
  rem;
}

div.nav-content.activeNavContent > a:nth-child(3) {
  display: block;
}

div.nav-content.activeNavContent > a:nth-child(4) {
  display: block;
}

div.nav-content.activeNavContent > a:nth-child(5) {
  display: block;
} */

div.background-image p {
  text-align: center;
  font-family: "Quintessential", cursive;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 3.5rem;
  padding-bottom: 9rem;
  line-height: 6rem;
  letter-spacing: 0.2rem;
  color: white;
}

/* about section */

section#about {
  padding: 5rem 7rem;
  background-color: var(--petal-rouge);
  color: white;
}

section#about > h1,
section#grid-one > h1 {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  margin-bottom: 3rem;
  color: white;
  filter: drop-shadow(2px 4px 6px var(--black));
  -webkit-text-stroke-width: 2.5px;
}

section#about > p {
  font-size: 1.15rem;
  letter-spacing: 0.15rem;
  margin-top: 1.5rem;
  line-height: 2.3rem;
  color: white;
}

/* grid-one */

section#grid-one,
section#grid-two {
  padding: 6rem 4.5rem;
  padding-left: 8rem;
}

section#grid-one > h1,
section#grid-two > h1 {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  margin-bottom: 3rem;
  color: var(--petal-rouge);
}

div.photo-item {
  display: grid;
  width: 70%;
  grid-template-columns: repeat(4, 150px);
  /* column-gap: 1.5rem; */
}

div.photo-item img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

div.photo-item > div:first-child,
img.span,
img.child {
  grid-column: span 2;
  grid-row: span 2;
  justify-items: center;
  align-items: center;
}

img.fourty-two {
  grid-column: span 2;
}

/* well wishers */

section#well-wishers {
  padding: 5rem 4.5rem;
  background-color: var(--soft-blush);
}

section#well-wishers > h1 {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  margin-bottom: 3rem;
  color: var(--petal-rouge);
}

section#well-wishers p {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.11rem;
  margin-top: 1.5rem;
  line-height: 2.3rem;
}

.left,
.left > figcaption {
  color: var(--petal-rouge);
  background-color: white;
  text-align: left;
}

.right {
  background-color: var(--petal-rouge);
  color: white;
}

.right,
.right > figcaption {
  color: white;
  text-align: center;
}

.right > figure {
  text-align: right;
}

.right p {
  text-align: left;
}

section#well-wishers > div {
  padding: 3rem 4.5rem;
  border-radius: 1rem;
  box-shadow: 7px 9px 3px grey;
  margin-bottom: 6rem;
}

section#well-wishers img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

section#well-wishers figure {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

section#well-wishers figcaption {
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  margin-top: 1.2rem;
}

/* wish list */

section#wish-list {
  padding: 3rem;
  color: white;
  background-color: var(--petal-rouge);
  line-height: 3rem;
  letter-spacing: 0.2rem;
}

#wish-list > h1 {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  margin-bottom: 1.8rem;
}

/* footer */

footer {
  padding: 1.5rem 2rem;
  background-color: white;
  color: var(--petal-rouge);
  line-height: 3.5rem;
  letter-spacing: 0.2rem;
  text-align: center;
}
  

/* tab responsiveness */

@media screen and (max-width: 64rem) {
  html {
    font-size: 50%;
  }

  h1.percentageDisplay {
    margin-top: 100rem;
  }

  p.loadingText {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  header > nav {
    padding: 5rem 3rem;
  }

  nav > p {
    font-size: 2rem;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 5%;
    width: 100vw;
  }

  div.nav-bar {
    display: none;
  }

  nav > p {
    display: flex;
    flex-wrap: nowrap;
  }

  nav > div.nav-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: auto;
    gap: 2.5rem;
    margin-top: 0 !important;
    top: 0 !important;
    position: static;
    /* margin-top: -12rem; */
    /* margin-left: 15rem; */
    /* position: relative;
    top: 13rem;
    right: 5.58rem; */
    background-color: transparent;
    color: white;
    border-radius: none;
    /* box-shadow: 4.5px 6px 5px grey; */
    /* height: 40vh; */
    font-weight: bold;
    font-size: 1.5rem;
  }

  div.nav-content a {
    color: white;
    margin: 0;
    white-space: nowrap;
  }

  section.heroSection {
    height: 70vh;
  }

  div.background-image p {
    /* display: none; */
    font-size: 8rem;
    letter-spacing: 0.56rem;
    line-height: 11rem;
    margin-top: 7.5rem;
    /* position: relative;
    left: -5rem; */
  }

  section#about h1,
  section#well-wishers h1,
  section#grid-one h1,
  section#grid-two h1,
  section#wish-list h1 {
    font-size: 3.5rem;
    letter-spacing: 0.85rem;
  }

  section#grid-one h1 {
    margin-left: 4rem;
  }

  section#well-wishers h1 {
    margin-block: 5rem;
  }

  section#well-wishers figcaption {
    font-size: 1.7rem;
  }

  section#about p,
  section#well-wishers p,
  section#wish-list p {
    font-size: 2rem;
    line-height: 3.8rem;
    letter-spacing: 0.3rem;
  }

  section#about {
    padding: 7rem 9.5rem;
  }

  section#grid-one,
  section#grid-two {
    padding: 7rem 4rem;
  }

  div.photo-item {
    width: 100%;
    grid-template-columns: repeat(4, 150px);
    column-gap: 1.25rem;
    row-gap: 1.25rem;
    padding-left: 5rem;
  }

  section#grid-two div.photo-grid div.mobile {
    width: 100%;
    grid-template-columns: repeat(4, 150px);
    padding-left: 5rem;
  }

  section#well-wishers {
    padding: 6rem 9.5rem;
  }

  section#well-wishers > div {
    padding: 4rem 8.5rem;
  }

  footer p {
    font-size: 1rem;
  }
}



/* mobile responsiveness */

@media screen and (max-width: 48rem) {
  html {
    font-size: 70%;
  }

  h1.percentageDisplay {
    margin-top: 40rem;
  }

  
section.loadSite > p.loadingText {
  font-size: 1.45rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  margin-left: 4rem;
  margin-bottom: 6rem;
  color: var(--cotton-candy);
}
  

  section.heroSection {
    height: 70vh;
  }

  header > nav {
    padding: 4rem 2rem;
    position: relative;
  }

  nav > p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    line-height: 1.5rem;
  }
  

  div.nav-bar {
    display: flex;
  }

  div.nav-bar > div {
    width: 8.3vw;
    height: 0.6vh;
    background-color: white;
    border-radius: 9px;
  }

  nav > div.nav-content {
    display: none;
    flex-direction: column;
    gap: 1.5rem;
    margin: 20rem auto !important;
    position: absolute;
    top: 28rem;
    right: 3rem;
    background-color: white;
    color: var(--petal-rouge);
    padding: 4rem 7rem;
    border-radius: 0.8rem;
    z-index: 4;
    width: 87vw;
    /* height: 40vh; */
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
  }

  div.first-bar,
  div.second-bar,
  div.third-bar {
    transition: all 0.7s linear;
  }

  div.second-bar {
    margin-block: 0.4rem;
  }

  .nav-bar.true {
    margin-top: 0.8rem;
  }

  .first-bar.true {
    transform: rotate(45deg) translateY(15px);
    transform-origin: center;
  }

  .second-bar.true {
    transform: translateX(-50px);
    background-color: transparent;
  }

  .third-bar.true {
    transform: rotate(-45deg) translateY(-18px);
    transform-origin: center;
  }

  div.nav-content a:first-child {
    margin-top: 2rem;
  }

  div.nav-content a {
    margin-bottom: 2rem;
    color: pink;
    font-size: 1.65rem;
  }

  .nav-content.activeNavContent {
    display: flex;
    animation: display 1.5s ease;
  }

  @keyframes display {
    from {
      right: -50rem;
    }
  }

  header > nav {
    padding: 4.5rem 3.5rem;
  }

  div.background-image p {
    margin-top: 8rem;
  }

  div.background-image p {
    /* display: none; */
    font-size: 3rem;
    letter-spacing: 0.45rem;
    line-height: 7rem;
    margin-top: 3rem;
    /* position: relative;
    left: -5rem; */
    transition: all 0.5s ease;
    animation: reveal 1.5s ease;
  }

  @keyframes reveal {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  section#about {
  padding: 2.8rem 2rem;
  background-color: var(--petal-rouge);
  color: white;
  }

  /* .nav-content.removeNavContent{
    animation: remove 1.5s ease;
  }

  @keyframes remove{
    to{
      right: 30rem;
    }
  } */
  section#about h1,
  section#well-wishers h1,
  section#grid-one h1,
  section#grid-two h1 {
    font-size: 2.5rem;
    letter-spacing: .5rem;
  }

  section#about p{
    font-weight: bold;
  }
  
  section#well-wishers {
    padding-top: 1.8rem;
    padding-left:  2rem;
    padding-right: 2rem;
  }

  section#well-wishers > div {
  padding: 3rem 2rem;
  border-radius: 1rem;
  box-shadow: 7px 9px 3px grey;
  margin-bottom: 6rem;
  }

  section#well-wishers figcaption {
    font-size: 1.9rem;
  }

  section#about p,
  section#well-wishers p,
  section#wish-list p {
    font-size: 1.45rem;
    letter-spacing: 0.3rem;
    line-height: 2.5rem;
  }

  section#grid-one,
  section#grid-two {
    padding: 5rem 0rem;
    padding-left: -1rem;
    padding-top: 2.8rem;
  }

  section#grid-one{
    padding-left: -2.5rem;

  section#grid-two {
    padding-left: 6rem;
  }

  div.photo-item {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
  }

  div.photo-item img.span-image {
    grid-row: span 2;
  }

  div.photo-item img.last-image {
    /* grid-column: span 2; */
  }

  section#grid-two div.photo-grid div.mobile {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: span 1;
    grid-column: span 1;
  }

  section#well-wishers div.left {
    opacity: 0;
    /* animation: slideInLeft 1s ease-out forwards; */
    transition: all 0.5s ease;
  }

  section#well-wishers div.right {
    opacity: 0;
    /* animation: slideInRight 1s ease-out forwards; */
    transition: all 0.5s ease;
  }

  .left.active {
    opacity: 1;
    animation: slideInLeft 1s ease-out forwards;
  }

  .right.active {
    opacity: 1;
    animation: slideInRight 1s ease-out forwards;
  }

  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
